# Maven build files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/MavenWrapperDownloader.java
.mvn/wrapper/maven-wrapper.jar


# Maven - Jenkins plugin development
work/

# IntelliJ project files
*.iml
*.ipr
*.iws
.idea/

# Eclipse project files
.settings/
.classpath
.project
.metadata
.loadpath

# log files
*.log

.*