name: 'UI Tests'

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  ui-tests:
    strategy:
      fail-fast: false
      matrix:
        test: [ GlobalSnippetGeneratorUiTest, JobSnippetGeneratorUiTest ]
        browser: [ firefox-container, chrome-container ]

    runs-on: [ubuntu-latest]
    name: '${{ matrix.browser }} / ${{ matrix.test }}'
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          check-latest: true
          cache: 'maven'
      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.11
      - name: Build plugin and download dependencies
        run: mvn -V --color always -ntp install -Pskip
      - name: Run UI tests ${{ matrix.test }} on ${{ matrix.browser }}
        env:
          BROWSER: ${{ matrix.browser }}
          SKIP_UPDATES: 'true'
        run: mvn -V --color always -ntp test --file pipeline-maven-ui-tests/pom.xml -Dtest=${{ matrix.test }} -Dquite -Dgpg.skip -Dsurefire.rerunFailingTestsCount=1
